{% load new_tags %}
{% load static %}


<!DOCTYPE html>
<html lang="en" >
    <meta charset="utf-8">

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'bootstrap/js/bootstrap.min.js' %}" rel="stylesheet" media="screen">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
        <script src="{% static 'bootstrap/js/app.js' %}"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />

        

    </head>

    <body>


    {% include "header.html" %}

    {% include "content.html" %}

    <form id="search_form" name="search_form" method="POST" action="{% url 'search' %}">
    {% csrf_token %}
     <ul style="text-decoration:none;list-style: none;">

             <!--<input type="text" id="Search_Text" name="Search_Text">-->
    
        <input type="text" name="SearchText">
        <li>
            <!--<button type="button" id="Search_Button" name="Search_Button"> Search </button>-->
                <input type="submit" value="Search" />
        </li>
     </ul>
    </form>

    <table>
        <tr><td>documents found: {{total_hits}}</td></tr>

         <tr>
             {% for doc in hits %}


            <!--<td> ID :{{ doc|get:"_id" }}</td><td>content: {{ doc|get:"_source"|get:"content"}} </td>-->

            {% with doc|get:"_source"|get:"if_file"|get:"thumbnail"|get:"relurl" as thumbnail %}
                {% with doc|get:"_source"|get:"if_file"|get:"original"|get:"relurl" as original %}
                {% with doc|get:"_source"|get:"if_file"|get:"mime_type" as mimetype %}
                

                {% if thumbnail %}
                <td><a href="{% static original %}"><img src="{% static 'pdf_icon.jpeg' %}" /><br/>{{ doc|get:"_source"|get:"name"}}</a></td>
                {% elif mimetype == 'application/pdf' %}
                <td><a href="{% static original %}"><img src="{% static 'pdf_icon.jpeg' %}"  height="100px" width="90px"/><br/>{{ doc|get:"_source"|get:"name"}}</a></td>   
                {% endif %}
        {% endwith%}
                {% endwith %}
             {% endwith %}

            {% endfor%}
        </tr>

    </table>



    </body>
</html>

